
<ul style="color:#000000" class="list-group list-group-unbordered mb-3">
    <li class="list-group-item" style="color:#000000">
        <b>Yazdığım İçerik Sayısı:</b> <a class="float-right">5</a>
    </li>
    <li class="list-group-item">
        <b>En Yüksek Değerlendirme:</b> <a class="float-right">90</a>
    </li>
    
</ul>
