@model IEnumerable<EntityLayer.Concrete.Comment>

@{
    ViewBag.Title = "GetCommentByBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <!-- Site wrapper -->

    <div class="wrapper">

        <section class="content">
            @foreach (var item in Model)
            {

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="timeline">
                                <div>
                                    <i class="glyphicon glyphicon-comment"></i>
                                    <div class="timeline-item">
                                        <h4 class="timeline-header"><a href="">@item.Mail</a> @item.UserName</h4>
                                        <div class="timeline-body">
                                            @item.CommentText
                                        </div>
                                        <div class="time-label">
                                            <span style="color:#000000">@(((DateTime)item.Blogs.BlogDate).ToString("dd-MMMM-yyyy"))</span>
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-primary btn-sm">Devamını Oku</a>
                                            <a class="btn btn-danger btn-sm">Kaldır</a>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</body>

</html>

